button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

button:hover,
button:focus {
  transform: scale(1.2);
  transition: ease-in-out 0.1s;
}

p:hover,
p:focus {
  cursor: pointer;
  transform: scale(1.2);
  transition: ease-in-out 0.1s;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

input {
  border: none;
  border-bottom: 1px solid black;
}

main {
  text-align: center;
  max-width: 600px;
  margin: 3rem auto;
  padding: 0 50px;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 0 50px;
}

.todo {
  display: flex;
  justify-content: center;
}

.todo-item {
  text-decoration: none;
}

.complete {
  text-decoration: line-through;
}

.todo :last-child {
  margin-left: 2rem;
  color: #bf616a;
}
