// =========== COLOURS ===========
$color-primary: #231651;
$color-secondary: #ff8484;
$color-secondary-shade: #ff5151;
$color-tertiary: #2c988c;
$color-tertiary-glare: #d6fff6;
$color-quaternary: #2374ab;
$color-light: #fafafa;
$color-light-shade: #eeeeee;
$color-grey: #c4c4c4;

// =========== SPACING ===========
$size-300: 0.8rem;
$size-400: 1rem;
$size-500: 1.33rem;
$size-600: 1.77rem;
$size-700: 2.4rem;

$breakpoints-md: 48em;

// ============ FONTS ============
$weight-medium: 500;
$weight-bold: 700;

$font-base: "IBM Plex Sans", Helvetica, Arial, sans-serif;
$font-mono: "IBM Plex Mono", Courier New, Courier, monospace;